# Handle the onerng entropy generator
ACTION=="add", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="6086", ENV{ID_MM_DEVICE_IGNORE}="1", ENV{ID_MM_CANDIDATE}="0", OWNER:="root", GROUP:="root", MODE:="0600", SYMLINK+="onerng", RUN+="/usr/bin/sv up onerng"
ACTION=="remove", ENV{ID_VENDOR_ID}=="1d50", ENV{ID_MODEL_ID}=="6086", RUN+="/usr/bin/sv down onerng"
